@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


// @import url('https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800');






@font-face {
  font-family: 'DrukCyr';
  src: url('../fonts/DrukCyr-Medium.eot');
  src: url('../fonts/DrukCyr-Medium.otf');
  src: url('../fonts/DrukCyr-Medium.woff');
  src: url('../fonts/DrukCyr-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'DrukCyr';
  src: url('../fonts/DrukCyr-Bold.eot');
  src: url('../fonts/DrukCyr-Bold.woff2');
  src: url('../fonts/DrukCyr-Bold.woff');
  src: url('../fonts/DrukCyr-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}



/*font-family: 'Manrope', serif;*/
/*font-family: 'DrukCyr', serif;*/



    