.slider__item {
  position: relative;
  min-height: 300px;
}

.slider__body {
  overflow: hidden;
}

.slider-arrow {
  position: relative;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  z-index: 2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all .2s ease-in-out;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, .4);
  border: 1px solid rgba(0, 0, 0, .5);
}

.slider-arrow svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  z-index: 2;
  stroke-width: 1px;
  transition: all 0.2s ease-in-out;
  fill: rgba(0, 0, 0, .2);
}

.slider-arrow:hover {
  transform: scale(1.05) translate(0%, -50%);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, .4), 0 0 18px rgba(0, 0, 0, .2);
}

.slider-arrow:hover svg {
  fill: rgba(0, 0, 0, .2);
}

.slider-arrow-prev {
  left: -55px;
}

.slider-arrow-next {
  right: -55px;
}

/*===============================*/
.slider-full {
  margin: 50px 0 0 0;
  overflow: hidden;
}
/*===============================*/


@media (min-width: 0) and (max-width: 1329px) {
  
  .slider-arrow {
    top: 110%;
    transform: translate(0%, 0%);
      width: 30px;
  height: 30px;
  }
  .slider-arrow-prev {
  left: 30%;
}

.slider-arrow-next {
  right: 30%;
}
.slider-arrow svg {
  width: 15px;
  height: 15px;
}
.slider-arrow:hover {
  transform: scale(1.05) translate(0%, 0%);
}
}

